
</html>
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
	body
	{
		background:black; 
		height: 100%;
		width: 100%;
		background-size: 100%;
		
	}
	.img{
		background: whitesmoke;
		height: 50%;
		width: 50%;
	}
	.txt{
		font-size: 50px;
		font-family: Arial Rounded MT;
		animation: color 1s infinite;
		color: whitesmoke;
		
	}
	@keyframes color {
  		100%   {color: blue;}
	}
	
	</style>
</head>
<body>
	<h1 class="txt" align="center">Zodaic Sign For People Born Today:</h1>
		<center>
		<div class="img">		
					{% if stu %}
	
						{% for st in stu %}
						
						  <img src="{{st.Zodiac_img.url}}"></a>

						{% endfor %}
					
					{% else %}
					<h1>No image</h1>
					{% endif %}
		</div>				
					
		</center>
	
</body>
</html>