<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
	body
	{
		background:black; 
		height: 100%;
		width: 100%;
		background-size: 100%;
		overflow-x: hidden;
		
	}
	#img
	{
		position: absolute;
		top:20%;
		left:30%;
		animation: nm 12s infinite;
		
		
	}
	@keyframes nm{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	   }
	}
	.txt{
		font-size: 50px;
		font-family: Arial Rounded MT;
		transform: translate(32%,50%);
		animation: color 1s infinite;

	}
	@keyframes color {
  		0%   {color: red;}
  		25%  {color: yellow;}
  		50%  {color: blue;}
  		100% {color: green;}
	}

	</style>
</head>
<body>
	<h1 class="txt">Astrology Horoscope</h1>
	<div id="img"><a href="{% url 'signin'%}" title="Click on me"><img src="/static/image/hs.png"></a>
	</div>	
</body>
</html>