<!DOCTYPE html>
<html>
<head>
	<title>Registration Form</title>
	{% load static %}
	<style type="text/css">
		*{
		margin: 0;
		padding: 0;
		font-family: 'poppins',sans-serif;
		box-sizing: border-box;
		outline: none;
		color: whitesmoke;
	}
	section{position: absolute;
		height: 100vh;
		width: 100vw;
		background: url(https://i.pinimg.com/564x/31/38/00/313800c32b4d52c59ec52d8bded4b8bd.jpg);
		background-size:cover ;
		background-position: center;
		filter:  blur(2px) brightness(30%);
	}

	body{
		display: flex;
		min-height: 100vh;
		align-items: center;
		justify-content: center;
	}
	.container{
		width: 360px;
		height: 440px;
		background: #000;
		box-shadow:0 0 8px rgb(250, 250, 250) ;
		opacity: 0.6;
		border-radius: 15px;
	}
	.container form{
		width: 100%;
		text-align: center;
		padding: 25px 20px;
	}

	form input{
		margin-top:5px ;
		border: none;
		color: #222;
		padding: 10px 0;
		width: 100%;
		font-size: 20px;
		font-weight: 800;
		cursor: pointer;
		border-radius: 10px;
		text-align: center;
	}
	.done{
		text-decoration: none;
		font-size:20px;
		color: whitesmoke;
		font-size: 25px;
		font-weight: 1000;
		text-align: center;
	}
	</style>

</head>
<body>
	<section></section>
	<center>
		<div class="container">
			<form method="post" name="form1">
				<h1>Register</h1><br>
				{% csrf_token %}		
				<label for="id_username">Username:</label>
				<br>
				<input id="user1" type="text" name="username" required="id_username">
				<br><br>
				<label for="id_password1">Password:</label>
				<br>
				<input id="pass1" type="password" name="password1" required id="id_password1">
				<br><br>
				<label for="id_password2">Confirm password:</label>
				<br>
				<input id="pass2" type="password" name="password2" autocomplete="new-password" required id="id_password2">
				<br><br>
				<input  type="submit" value="Register"><br>
				<h3>{{error}}</h3>
				<h3>{{info}}</h3>
				<br>
				<a class="done" href="{% url 'signin'%}">Done</a>	
			</form>
		</div>
	</center>
</body>
</html>