<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<script src="https://kit.fontawesome.com/67c66657c7.js"></script>
	<style type="text/css">
	*{
		margin: 0;
		padding: 0;
		font-family: 'poppins',sans-serif;
		box-sizing: border-box;
		outline: none;
		color: whitesmoke;
	}
	section{position: absolute;
		height: 100%;
		width: 100%;
		background: url(https://static.toiimg.com/photo/74064747.cms	);
		background-size:cover ;
		background-position: center;
		filter:  blur(2px) brightness(30%);
	}

	a{
		color: white;
		text-decoration: none;
		font-size: 18px;
	}
	
	body{
		display: flex;
		min-height: 100vh;
		align-items: center;
		justify-content: center;
	}
	.container{
		width: 360px;
		background: #000;
		box-shadow:0 0 8px rgb(250, 250, 250) ;
		opacity: 0.6;
		border-radius: 15px;
	}
	.container form{
		width: 100%;
		text-align: center;
		padding: 25px 20px;
	}
	
	form input{
		margin-top:5px ;
		border: none;
		color: #222;
		padding: 10px 0;
		width: 100%;
		font-size: 20px;
		font-weight: 800;
		cursor: pointer;
		border-radius: 10px;
		text-align: center;
	}
	
	form input:focus::placeholder,
	form :focus::placeholder{
		padding-left: 4px;
		color: blueviolet;
		transition: all 0.3s ease;
	}
	
</style>
</head>

<body>
	<section></section>
	<div class="container">
		
		<form method="POST">
					{% csrf_token %}
					<b id="error"style="color:white;">{{error}}</b> <br><br>
					<label>User email:</label>
					<br>
					<input type="text" name="username" placeholder="Enterusername" required=""><br><br>
					<label>Password:</label>
					<br>
					<input type="Password" name="password" placeholder="Enterpassword" required=""><br><br>
					<input id="btn" type="submit" value="Login" ><br><br>
					<a href="{% url 'signup'%}">click here to register!</a><br><br>
		</form>
	</div>
</body>
</html>